{{>header}}
{{>navbar}}
<h1>Johannes Vermeer</h1>

<h2>Reseña:</h2>
      <p>Johannes Vermeer (31 de octubre de 1632 – 15 de diciembre de 1675) pintor barroco. Nació en Delft, 
        Holanda. Su padre fue un Reijnier Janszoon, un trabajador de la seda, aunque él también se dedicó a 
        comerciar obras de arte de algunos talentosos artistas de la ciudad, y su madre Digna Baltus, su 
        familia perteneció a la iglesia protestante. Al llegar a la juventud decidió experimentar el mundo 
        del arte, así que asistió al taller del pintor Carel Fabritius como aprendiz por 6 años. 
        Posteriormente fue admitido en el año 1653 en la cofradía de San Lucas como maestro pintor, y 
        también se ganó la vida como marchante.
        <br><br>
        En su momento la vida cultural y artística estaba en pleno florecimiento, esta época fue bautizada 
        por los historiadores como la Edad de Oro neerlandesa. Vermeer fue un pintor que realizó sus obras más 
        que por voluntad propia; por encargos para mecenas. Por ello, su obra conocida es reducida. 
        Aproximadamente son conocidas 33 obras. Por otro lado, muchas de las obras se extraviaron o deterioraron. 
        Realmente se dice que la vida de este pintor fue muy miserable y hasta poco exitosa. Se casó con una 
        mujer católica llamada Catherina Bolnes, su familia nunca estuvo de acuerdo con esta unión y los 
        cuatro hijos que tuvieron murieron a temprana edad. Además su tiempo de vida fue corto.
        <br><br>
        Gracias a su relación con Catherina y su rica familia, Johannes pudo relacionarse con importantes 
        personajes de la vida pública. Por ello, en 1672 fue llamado a La Haya para realizar la curaduría 
        de una colección de cuadros vendidos por un comerciante de Ámsterdam al elector de Brandengurgo. 
        En suma, su suegra constantemente le solventaba económicamente, pero las deudas nunca dejaron de 
        agobiarlo. Su producción consistió en interiores domésticos, estos se caracterizaron por tener 
        mucha luminosidad.
        <br><br>        
        Los personajes retratados usualmente se encontraban realizando actividades como la lectura, 
        escritura, interpretación de algún instrumento musical, o realizando alguna tarea doméstica. 
        Una de sus obras representativas fue La lechera (1660), y Mujer con jarra de agua (1663). En 
        dichas obras Vermeer logra utilizar los efectos de la luz con sutileza y pureza, dando una impresión 
        de solidez y firmeza. Otras de sus obras son Soldado y mujer riendo (1657) y Joven con sombrero 
        rojo (1667). Algo muy admirable de las obras de este holandés fue la capacidad de retratar la vida 
        cotidiana de su región. En sus cuadros representó todas las clases sociales, el ambiente de tabernas, 
        la aristocracia y la burguesía culta y refinada.</p>  

<table>
            <center><center>
                <tr>
                <th><hr><h1>....pinturas de Pablo Picasso....</h1><hr></th>
                </tr> 
                <tr><th><img class="got" src="/public/imagenes/picasso-avignon_1.jpg" style="float: left;" width="200px" height="400px">
                <h4>El cuadro de 'Las señoritas de Avignon' fue pintado por Picasso en 1907. Actualmente se encuentra en <br>
                    el Museo de Arte Moderno de Nueva York (EE. UU.). El artista malagueño, máximo exponente del <br>
                    cubismo español rompe con los cánones del realismo y reduce la obra a planos angulares, dejando de <br>
                    lado la perspectiva espacial o el fondo. El cuadro se considera el inicio del arte moderno.<br>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="/public/imagenes/picasso-avignon_2.jpg" style="float: right;" width="200px" height="400px">
                    <h4>Picasso nunca bautizaba sus creaciones nada más pintarlas, sino más bien mucho tiempo <br>
                        después (varios años). En este caso, sin embargo, el cuadro, que fue pintado en apenas <br>
                        dos meses del año 1937, nos encontramos una alusión al bombardeo de Guernica durante <br>
                        la Guerra Civil Española. En este cuadro meramente simbólico, Picasso empleó únicamente <br>
                        los colores blanco y negro, y un gran abanico de grises. El Guernica, ese grito <br>
                        pictórico contra la represión y la violencia, se encuentra en el Museo Nacional Centro <br>
                        de Arte Reina Sofía en Madrid (España).<br>
                    <hr></h4>
                </th></tr>
                <br>
                <tr><th><img class="got" src="/public/imagenes/picasso-avignon_3.jpg" style="float: left;" width="200px" height="400px">
                    <h4>'Los tres músicos' o 'Músicos con máscaras' fue pintado por Picasso en Fontainebleau, Francia, <br>
                        en 1921 y pone punto y final al período del Cubismo Sintético para comenzar con el cubismo analítico,<br> 
                        esto es, una pintura mucho más compleja y aún más abstracta. Hizo dos versiones de este cuadro y <br>
                        ambas se consideran dos obras maestras de la historia del arte. Se encuentran en el Museo de Arte <br>
                        Moderno de Nueva York (EE.UU.).<br>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="/public/imagenes/picasso-avignon_4.jpg" style="float: right;" width="200px" height="400px">
                    <h4>Pintado en 1937, este Retrato de Dora Maar o Henriette Theodora Markovitch, representa a la musa de <br>
                        Picasso. Esta artista plástica, aparte de ser conocida por su relación con el artista malagueño, <br>
                        fue muy prolífica. Sin duda con una personalidad muy compleja, callada, orgullosa, inteligente y <br>
                        curiosa, Dora Maar nos dejó una conocida serie de fotografías del Guernica. El 'Retrato de Dora Maar' <br>
                        se encuentra en el Museo Nacional Centro de Arte Reina Sofía en Madrid (España). <br>
                <hr></h4>
            </th></tr>
                <br>
                <tr><th><img class="got" src="/public/imagenes/picasso-avignon_5.jpg" style="float: left;" width="200px" height="400px">
                    <h4>Pintado en 1932, este cuadro retrata a una mujer de una forma muy abstracta, utilizando rombos, <br>
                        círculos y triángulos para crearlo. La modelo del cuadro es Marie-Thérèse Walter (amante de Picasso).<br> 
                        La obra de la 'Mujer ante el espejo' se encuentra en el Museo de <br>
                        Arte Moderno -MoMA- de Nueva York (EE.UU.).<br>
                <hr></h4>
            </th></tr>
            </center></center>
            </table>
{{>footer}}